@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit Machine</h2>
<hr/>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.RepairDifficulty, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<h4>Edit this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.RepairDifficulty)
  @Html.EditorFor(model => model.RepairDifficulty)


  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Machine List", "Index")</p>